body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background: #383737;
  color: #141414;
}

h1, h2 {
  color: #1a1a1a;
}

input, button {
  margin: 0.5rem 0;
  padding: 0.6rem;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
}

button {
  background-color: #0077cc;
  color: rgb(160, 151, 151);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

section {
  margin-top: 2rem;
  padding: 1rem;
  background: rgb(148, 143, 143);
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

#resumo-geral, #lista-pedidos {
  margin-top: 1rem;
}